.sidebarContainer {
  background-color: var(--grey);
  /* width: 28.2rem; */
  flex: 2;

  height: 100%;
  background-color: var(--backgroundColor);
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebarContainer::-webkit-scrollbar {
  width: 0.01rem;
}
.sidebarContainer::-webkit-scrollbar-thumb {
  background-color: var(--prp);
  border-radius: 0.2rem;
}
.sidebarContainer::-webkit-scrollbar-track {
  background-color: #000;
}
.logo {
  width: inherit;
  background-color: var(--bgNav);
  text-align: center;
  /* margin-left: -4rem; */
  padding: 1rem 0;
  margin-bottom: 5.3rem;
}
.logout {
  width: fit-content;
  margin: 15rem auto;
  text-align: center;
  background-color: var(--prp);
  padding: 1rem 4.5rem;
  border-radius: 3px;
  cursor: pointer;
}
.logout > span {
  font-size: var(--fontSizeLg);
  color: var(--cyan);
  font-weight: var(--fontWghtLg);
}
